#root,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  height: 100%;
}
.navbar {
  width: 550px;
  height: 65px;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: #fff;
  font-size: 20.748px;
  font-weight: 700;
  line-height: normal;
  padding-left: 6px;
}
.prj span {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.form {
  width: 550px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}
.form .inps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.inps input {
  width: 230px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  color: #0d0d0d;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-indent: 5px;
}
button {
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
  width: 477px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}
.meme {
  position: relative;
  width: 500px;
  margin: auto;
}
.box {
  padding: 2px;
  margin-top: 15px;
  border: 1px solid;
}
.box--meme {
  width: 494px;
  height: auto;
}
.top,
.buttom {
  color: #000000;
  font-size: 32px;
  font-weight: 900;
  line-height: normal;
}
.top {
  position: absolute;
  right: calc(500px / 2);
  top: 30px;
}
.buttom {
  position: absolute;
  bottom: 101px;
  left: 215px;
}
.error {
  text-align: center;
  margin: 50px;
  font-size: larger;
  font-weight: bolder;
  color: red;
}
